.product__card {
  border-radius: 10px;
  box-shadow: 1px 1px 5px lightblue;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 30rem;
}

.product__flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.product__title {
  margin-left: 1rem;
  font-size: 14px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.product__price {
  font-weight: 200;
  margin-left: 10px;
}

.product__descritpion {
  margin-left: 0.6rem;
  font-size: 10px;
}

.product__btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.2rem;
  margin: 0.1rem;
}
.btn-minus {
  padding: 0.2rem 0.3rem;
}

.product__btn:hover {
  background-color: lightblue;
}
